/*--
Remember the cascade: 
 1. later styles override earlier ones 
 2. more specific styles override more general ones
--*/
html {
	font-size: 62.5%;
  background-color: rgb(255, 241, 220);
}
img {
	width: 100%;
	height: auto;
}
body {
  color: #8c4a4a;
  font-size: 1.6rem;
  font-family: 'Gentium Book Plus', sans-serif;
}
p {
  margin-bottom: .67em;
}
.dropcap {
  font-family: 'Palatino', sans-serif;
  font-size:100px;
  line-height: 88px;
  float: left;
  padding-right: 5px;
}
nav, footer {
  background-color: #600000;
}
.blur-edge {
  box-shadow: 0 0 215px 215px #600000;
}
footer {
  text-align: center;
  padding: 0.3em 0 .3em 0;
  color: rgb(255, 241, 220);
}
/*-- Main Menu Styles--*/
nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 1em;
  margin-top: -0.1em;
}
nav a:link, nav a:visited {
  color: rgb(255, 241, 220);
  text-decoration: none;
}
nav a:hover, nav a:active  {
  color: #F0F0F0;
  text-decoration: underline;
}
nav a.active {
  color: #F0F0F0;
}
/*-- Hero Unit Styles--*/
header {
  width: 510px;
  margin-top: 2em;
  margin-bottom: 2em;
  margin: auto;
}
header img {
  width: 100%;
  margin: 0 auto;
}
img {
  filter: sepia(80%); 
}
header h1 {
  margin: 0 auto;
  padding: 0 auto;
  text-align: center;
  color: #600000;
}
header h1 .shadow-text {
  text-shadow: 2px 2px 2px #8c4a4a;
}

.small {
  margin-top: 1em;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 1em;
  text-transform: uppercase;
  color:#8e5b5b;
}
/*-- Article Styles--*/
article {
  width: 768px;
  font-size: 18px;
  line-height: 1.3;
  margin: auto;
}
article figure {
  width: 39%;
  margin: 0 0 1.25em 1.25em;
  float: right;
}
article figcaption {
  font-size: 75%;
  font-family: 'Lato', sans-serif;
  font-weight: 475;
  text-align: center;
}
.pagination {
  margin-top: 2em;
  margin-bottom: 2em;
  width: 96%;
  display: flex;
  justify-content: space-around;
}
a.button {
  border: 5px solid #600000;
  border-style: double;
  padding: .4em 1em .4em 1em;
  text-decoration: none;
  color: #600000;
  border-radius: 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 80%;
}
a.button:hover, a.button:active {
  border: 5px solid #c16e6e;
  border-style: double;
  text-decoration: none;
  color: #965656;
}
/*-- changes header and article width on small screens --*/
@media screen and (max-width: 768px) {
  header {width: 96%;}
  article {width: 96%;}
}
